body {
    /* Set background as an image that covers the screen without repeating */
    background-image: url(control-center.jpg);
    background-repeat: no-repeat;
    background-size: cover; 

    /* We color everything that's not the image */
    background-color: #314C43;

    /* Somehow being able to select things cheapens my experience of the page.
     * It's my page, so I can turn off selection if I want to >_< */
    user-select: none;
}

* {
    /* Text settings */
    text-align: center;
    font-family: 'Orbitron', 'Lucida Sans', Verdana, sans-serif;

}

header {
    /* Puts a bar across the top of the screen for the topbar to inhabit */
    position: fixed;
    top: 50px;
    width: 100vw;
}

.topbar {
    /* Defines height and weight, and centers topbar inside parent container */
    margin: auto auto;
    height: 200px;
    width: 450px;
}

main {
    /* This positions it below the initial position of the main bar */
    position: relative;
    top: 300px;

    /* This code defines the space that child objects are positioned in */
    margin: auto;
    width: 90%;

    /* We expect two children, so this puts on on either side of the screen */
    display: flex;
    justify-content: space-between;

}

h1 {
    font-size: 40px;
}

.contentBox {
    /* Section appearance */
    background-color: #476e22;
    border-radius: 10px;
    border-color: #02685a;
    border-width: 3px;
    border-style: outset;
    box-shadow: 1px 1px 5px navy;

    overflow: auto;
}

.arrayContainer {
    /* Sizes the content to 90% of the container */
    margin: 5%;
    width: 90%;

    /* Child content will be displayed vertically */
    display: flex;
    flex-direction: column;
}

.arrayRow {
    /* This ensures our content all stays on this line */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px 0px;

}

.arraySeparator {
    margin: 0px 3px;
}

.tableCell {
    width: 50%
}

.sidebar {
    width: 300px;   
}

button {
    width: 100%;
}

a {
    /* Spacing commands */
    margin: 2px 0px;
    padding: 2px;
    width: 100%;

    /* Object appearance */
    background-color: #eeeeee;
    border-radius: 3px;

    /* Font settings */
    font-size: 8;
    color: black;
    text-decoration: none;
    font-weight: normal;
}